<a href="https://colab.research.google.com/github/Deepanshu-8126/Projects-Data-Analysis-Beg-to-Adv-/blob/main/superstoresales_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
# loading data
df = pd.read_csv('/content/Sample - Superstore.csv', encoding='latin-1')
print("Shape",df.shape)
df.head()

Shape (9994, 21)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [25]:
# Basic  exploration of data
print("Columnss")
print(df.columns.tolist())
print("-" * 50) # for clean output

# 2 - data info
df.info()

# 3- statistics bascic
df.describe()

Columnss
['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit']
--------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

,Row ID,Postal Code,Sales,Quantity,Discount,Profit
count,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000,9994.000000
mean,4997.500000,55190.379428,229.858001,3.789574,0.156203,28.656896
std,2885.163629,32063.693350,623.245101,2.225110,0.206452,234.260108
min,1.000000,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.250000,23223.000000,17.280000,2.000000,0.000000,1.728750
50%,4997.500000,56430.500000,54.490000,3.000000,0.200000,8.666500
75%,7495.750000,90008.000000,209.940000,5.000000,0.200000,29.364000
max,9994.000000,99301.000000,22638.480000,14.000000,0.800000,8399.976000

In [34]:
# CELL 4: Data Cleaning & Feature Engineering

# 1. Order Date - datetime
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')

# 2 - shape date - datetime
df['Ship Date'] = pd.to_datetime(df['Ship Date'], errors='coerce')


df['Year'] = df['Order Date'].dt.year
df['Month'] = df['Order Date'].dt.month
df['Quarter'] = df['Order Date'].dt.quarter

df['Month_Name'] = df['Order Date'].dt.strftime('%b')

# Formula: (Profit / Sales) * 100
df['Profit_Margin'] = (df['Profit'] / df['Sales']) * 100
df['Sales_per_ITEM']= df['Sales'] / df['Quantity']
print(f" Updated Shape: {df.shape}")
df[['Order Date', 'Year', 'Month', 'Month_Name', 'Sales', 'Profit', 'Profit_Margin','Sales_per_ITEM']].head(6)

 Updated Shape: (9994, 27)

,Order Date,Year,Month,Month_Name,Sales,Profit,Profit_Margin,Sales_per_ITEM
0,2016-11-08,2016,11,Nov,261.9600,41.9136,16.00,130.9800
1,2016-11-08,2016,11,Nov,731.9400,219.5820,30.00,243.9800
2,2016-06-12,2016,6,Jun,14.6200,6.8714,47.00,7.3100
3,2015-10-11,2015,10,Oct,957.5775,-383.0310,-40.00,191.5155
4,2015-10-11,2015,10,Oct,22.3680,2.5164,11.25,11.1840
5,2014-06-09,2014,6,Jun,48.8600,14.1694,29.00,6.9800